:root {
  --bg-color: hsl(234, 85%, 45%);
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  user-select: none;
}
.container {
  display: flex;
  justify-content: center;
}
.left-container {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );

  text-align: center;
  padding: 10px;
}
.right-container {
  background-color: aqua;
  padding: 10px;
}
