:root {
  --bg-color: hsl(234, 85%, 45%);
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  user-select: none;
}
.container {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  height: auto;
}
.left-container {
  background-color: #6140fe;
  text-align: center;
  padding: 15px;
}

.heading {
  color: #baabfe;
  font-size: 15px;
}

.score-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: none;
  margin: 0 auto;
  color: white;
  background-color: #4a27d0;
  text-align: center;
  padding: 5px;
}

.score {
  margin-top: 15px;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 0;
}
.grey-text {
  color: #8274ff;
  font-weight: 600;
  font-size: 15px;
  margin-top: 0;
}

.great-text {
  color: white;
  margin-bottom: 5px;
}

.bottom-text {
  color: #acaaff;
  font-size: 15px;
  margin-top: 0;
}
.right-container {
  background-color: aqua;
  padding: 10px;
}
